<!-- _includes/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title> <!-- This comes from the page's front matter -->
    <link rel="stylesheet" href="/styles/styles.css" />
</head>

<body>
    {% include "header.html" %} <!-- shared header -->

    <main>
        {{ content | safe }} <!-- this is where the page's content goes -->
    </main>

    {% include "footer.html" %} <!-- shared footer -->
</body>

</html>