<footer>
    <div>
        <a href="https://github.com/avzaman" target="blank"><img src="/assets/img/github.png"></a>
        <a href="https://linkedin.com/in/avzaman" target="blank"><img src="/assets/img/inbug-black.png"></a>
    </div>
    <p>© 2025 Amir Vincent Zaman</p>
</footer>