<footer>
    <div>
        <a href="https://www.linkedin.com/in/avzaman/" target="blank"><img src="/assets/img/InBug-Black.png"></a>
        <a href="https://github.com/avzaman" target="blank"><img src="/assets/img/github.png"></a>
    </div>
    <p>© Amir Vincent Zaman</p>
</footer>