<header class="bg-gray-800 text-white">
    <div class="appicon">
        <div id="topwrapper"><img src="/assets/img/top.ico" ><span>Portfolio</span></div>
        <div id="xwrapper"><span>X</span></div>
    </div>
    <div class="hero">
        <img class="heroimg" src="/assets/img/hero.jpg">
        <div class="contacts">
            <h1>/Amir Vincent Zaman/&gt;_</h1>
            <div>avzaman2020@outlook.com</div>
            <div>Somerville, NJ</div>
            <div>B.S. Computer Science</div>
        </div>
    </div>
    <div class="nav">
        <div class="pages">
            <div class="page"><a href="/index/">Resume</a></div>
            <div class="page"><a href="/pages/blog/">Blog</a></div>
            <div class="page"><a href="/pages/credentials/">Credentials</a></div>
            <div class="page"><a href="/pages/work/">Work</a></div>
            <div class="page"><a href="/pages/projects/">Projects</a></div>
            <div class="page"><a href="/pages/community/">Community</a></div>
        </div>
    </div>
</header>