<header class="bg-gray-800 text-white">
    <div class="hero">
        <img class="heroimg" src="/assets/img/hero.jpg">
        <ul class="contacts">
            <h1>Amir Vincent Zaman</h1>
            <li>avzaman2020@outlook.com</li>
            <li>Somerville, NJ</li>
            <li>B.S. Computer Science</li>
        </ul>
    </div>
    <div class="nav">
        <ul class="pages">
            <li class="page"><a href="/index.html">Resume</a></li>
            <li class="page"><a href="/pages/blog.html">Blog</a></li>
            <li class="page"><a href="/pages/work.html">Work</a></li>
            <li class="page"><a href="/pages/projects.html">Projects</a></li>
            <li class="page"><a href="/pages/community.html">Community</a></li>
            <li class="page"><a href="/pages/certifications.html">Certifications</a></li>
        </ul>
    </div>
</header>