<header>
    <div class="hero">
        <img src="img/hero.jpg">
        <ul class="contacts">
            <h1>Amir Vincent Zaman</h1>
            <li>avzaman2020@outlook.com</li>
            <li>Somerville, NJ</li>
            <li>B.S. Computer Science</li>
        </ul>
    </div>
    <div class="nav">
        <ul class="pages">
            <li>Resume</li>
            <li>Blog</li>
            <li>Work</li>
            <li>Projects</li>
            <li>Community</li>
            <li>Certifications</li>
        </ul>
    </div>
</header>