@media only screen and (max-width: 1920px) {
    /***********/
    /* Site Wide */
    /***********/
    body {
        font-family: 'Courier New', Courier, monospace;
        padding:0px;
        margin:10px;
        color:black;
        background-image:url("/assets/img/clouds.jpeg");
        background-size:1640px;
        border-width:5px;
        border-style:outset;
        border-color:#e0e0e0;
    }
    #bgwrapper{
        background-color:#bdbdbd;
    }


    /***********/
    /* HEADER */
    /***********/
    header {
        background-color:#bdbdbd;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:stretch;
    }
    .appicon{
        padding:10px;
        margin:0;
        background:2px #bdbdbd;
        font-size:26px;
        background-color:#0b00a6;

        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    #topwrapper{
        color:white;
        display:flex;
    }
    #topwrapper span{
        padding-left:10px;
    }
    #xwrapper{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-left:3px;
        padding-right:3px;
        border-style:outset;
        border-width: 3px;
        border-color:#dbdbdb;
        background-color: #bdbdbd;
    }


    /*personal info area*/
    .hero {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: flex-start;
        margin:5px;
    }

    .heroimg {
        height: auto;
        flex-basis: 20px;
        width: 150px;
    }

    .contacts {
        color:black;
        padding-left:10px;
    }

    /*nav area*/
    .pages {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:flex-start;
        background-color: #bdbdbd;
        border-style:outset;
        border-width: 3px;
        border-bottom-width:0px;
        border-right-width:0;
        border-left-width:0px;
        border-color:#dbdbdb;
        /* border-style:outset;
        border-width:5px;
        border-color:lightgrey; */
    }
    .page {
        border-style:outset;
        border-width: 3px;
        border-color:#dbdbdb;
        background-color: #bdbdbd;
        color:black;
        padding: 5px;
    }
    a:link, a:visited{
        padding:2px;
        border-style:dashed;
        border-width: 1px;
        border-color:#bdbdbd;
        color: black;
        text-decoration: none;
    }
    a:hover, a:active{
        border-style:dashed;
        border-width: 1px;
        border-color:black;
        color:black;
        text-decoration: none;
    }

    /**********/
    /*MAIN (content)*/
    /*********/
    main{
        margin:5px;
        border:5px inset #dbdbdb;
        padding-left:5px;
        padding-right:5px;
        background-color:#ecf1bd;
    }
    

    /***********/
    /*FOOTER*/
    /***********/
    footer {
        background-color: #bdbdbd;
        color:black;
        padding: 10px;
        text-align: right;
    }

    /**********/
    /*BLOG*/
    /*********/
    pre{
        /*vvvv styling for word wrap vvvv*/
        text-wrap:wrap;
        /*vvvv styling for look vvv*/
        border-left-width:10px;
        border-left-style:solid;
        border-left-color:black;
        background-color:black;
        color:rgb(15, 187, 15);
        text-shadow: 1px 1px 2px rgb(0, 197, 16);
        padding:5px;
    }
}