---
layout: base.njk
title: Blog
---
<p>
    Check out my first blog post:
    <a href="/pages/blogs/4-19-2025/">Simple Powershell ｏ( ><)o CS to IT! 4-19-2025</a>
    More to come biweekly, as well as making this site look nice.
</p>