---
layout: base.njk
title: Blog
---
<p>
    More to come biweekly, as well as making this site look nice.<br><br>
    <a href="/pages/blogs/5-17-2025/">Home Lab L's 5-17-2025</a><br><br>
    <a href="/pages/blogs/5-4-2025/">Portfolio Makeover 5-4-2025</a><br><br>
    <a href="/pages/blogs/4-19-2025/">First Blog and Starting IT 4-19-2025</a>
</p>
<p>
    I also like to write lil/fun/jaunty leetcode solutions as a sorta ad-hoc blog type delio. Check em out on my <a href="https://leetcode.com/u/avzaman/" target="blank">leetcode profile</a>!
</p>