---
layout: base.njk
title: Blog
---
<p>
    <a href="/pages/blogs/2026-01-01/">Welcome to the Home Dome, chrome dome</a><br><br>
    <a href="/pages/blogs/2025-09-02/">Python Script for Zippers</a><br><br>
    <a href="/pages/blogs/2025-07-06/">Reforming My Personal Stack</a><br><br>
    <a href="/pages/blogs/2025-06-14/">HP Switches are Impossible</a><br><br>
    <a href="/pages/blogs/2025-05-31/">Woes of Dynamic Programming</a><br><br>
    <a href="/pages/blogs/2025-05-17/">Home Lab L's</a><br><br>
    <a href="/pages/blogs/2025-05-04/">Portfolio Makeover</a><br><br>
    <a href="/pages/blogs/2025-04-19/">First Blog and Starting IT</a>
</p>
<p>
    Check out my solutions on my <a href="https://leetcode.com/u/avzaman/" target="blank">leetcode profile</a>!
</p>
