---
layout: base.njk
title: Blog
---
Reach out via this form &lt;3
<br>
<div class="contact">
    <form name="contact" method="POST" data-netlify="true">
        <label for="name">Name:</label>
        <br>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="Message">Message:</label>
        <br>
        <textarea id="message" name="message"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>